/* rounded borders */
/* colors */
a { -moz-outline: none; }
a:link, a:visited, a:hover, a:active { color: #9CA03C; }

h1, h2, h3 { color: #9CA03C; }

body { color: #232C00; background-color: #656E17; font-family: helvetica, arial, sans-serif; }

#container { padding-right: 50px; padding-left: 50px; }

#header { background-color: #656E17; }
#header .logo { padding-left: 100px; height: 100px; width: 200px; background-image: url("../../images/rocks.png"); background-repeat: no-repeat; }

#main-navigation { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; background-color: #232C00; margin-right: 20px; padding: 7px 0; }
#main-navigation ul li { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; background-color: #BBB64E; margin-left: 7px; margin-bottom: -10px; }
#main-navigation ul li .active { background-color: #F8DA9F; font-weight: bold; }
#main-navigation ul li a { padding: 10px 10px 5px 10px; }
#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:active { text-decoration: none; color: #232C00; }
#main-navigation ul li a:hover { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; background-color: #F8DA9F; color: #232C00; }

#main { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
#main .block { margin-left: 15px; }
#main .content { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; margin-left: 15px; border: 1px solid #81B953; background-color: #F8DA9F; padding-top: 1px; padding-bottom: 25px; }
#main h2 { margin-left: 15px; }

#sidebar { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
#sidebar .block { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; background-color: #F8DA9F; border: none; }
#sidebar h3 { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; padding: 8px 12px; background: #3B5526; color: #FFF; font-weight: bold; border-bottom: 5px solid #81B953; }
#sidebar ul li .first { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
#sidebar ul li .last { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
#sidebar ul li a:link, #sidebar ul li a:visited { background-color: #F8DA9F; border-bottom: 1px solid #F0F0EE; text-decoration: none; }
#sidebar ul li a:hover, #sidebar ul li a:active { background: #D3E8C1; color: #FFF; }

.secondary-navigation { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; background: #3B5526; border-bottom: 5px solid #81b953; }
.secondary-navigation ul li .first { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.secondary-navigation ul li .last { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.secondary-navigation ul li a { display: block; padding: 8px 12px; }
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active { text-decoration: none; color: #FFF; }
.secondary-navigation ul li a:hover { background: #81B953; }
.secondary-navigation ul li .active { background: #81b953; font-weight: bold; }
.secondary-navigation ul li .active a:hover { background-color: #81B953; }

#user-navigation { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; background-color: #232C00; }
#user-navigation ul li a:hover { color: #fff; }
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:active { color: #3B5526; }

#footer.block { clear: both; }
#footer.block p { text-align: center; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; margin: 0; padding: 5px; color: #656E17; background-color: #232C00; }

/* pagination */
.pagination span .current { background: #262626; color: #FFF; border-color: #262626; }
.pagination a { color: #262626; border-color: #262626; }
.pagination a:hover { color: #FFF; background: #262626; }

/* tables */
.table th { background: #253618; color: #FFF; padding: 5px; }
.table th .first { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.table th .last { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.table tr { padding: 5px; }
.table tr .odd { background: #ebfadf; }
.table tr .even { background: #d3e8c1; }
.table td { border-bottom: 1px solid #F0F0EE; }

/* forms */
.form .group { margin: 10px; }
.form .group .text_field { width: 100%; border: 1px solid #262626; }
.form .button { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; color: #232C00; padding: 2px 5px; cursor: pointer; }
.form .text_area { width: 100%; border: 1px solid #262626; }
.form .description { font-style: italic; color: #656E17; font-size: .9em; }

/* flash-messages */
.flash { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.flash .message { -moz-border-radius: 3px; -webkit-border-radius: 3px; text-align: center; margin: 0 auto 15px; }
.flash .message p { margin: 8px; }
.flash .error { border: 1px solid #fbb; background-color: #fdd; }
.flash .warning { border: 1px solid #fffaaa; background-color: #ffffcc; }
.flash .notice { border: 1px solid #1FDF00; background-color: #BBFFB6; }

/* lists */
ul.list li { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-bottom-color: #F0F0EE; border-bottom-width: 1px; border-bottom-style: solid; }
ul.list li .item .avatar { border-color: #F0F0EE; border-width: 1px; border-style: solid; padding: 2px; }

/* box */
#box .block { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; background: #FFF; }
#box .block h2 { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; color: #fff; background: #3B5526; border-bottom: 5px solid #81b953; }
#box .block .content { border: 1px solid #81b953 border; }

/* login */
#block-login h2 { background: #3B5526; border-bottom: 5px solid #81b953; }
