= render :partial => "navigation"
.content
  .inner.block
    %h2.title Welcome!
    %p 
      This is a lesson plan content management system developed for Christy Kilzer.
    %p
      A very thorough, well-documenting, soon-to-be teacher who, after her first unit student teaching, brought home 3 large binders 
      packed full of lesson plans, notes, and hand-out materials that needed a better way to be stored and organized. 
    %p Ergo, [not yet named], a paperless cms!