- content_tag_for :div, unit do
  %ul
    %li
      %strong Title:
      =h unit.title
    %li
      %strong Description:
      =h unit.description
    %li
      %strong Subject:
      =h unit.subject
    = link_to 'Show', unit
    = link_to 'Edit', edit_unit_path(unit)
    = link_to 'Destroy', unit, :confirm => 'Are you sure?', :method => :delete