= render :partial => "navigation", :locals => {:unit => @unit}
#block-list.block
  .content
    .inner
      - content_tag_for :div, @unit do
        %ul.list
          %li
            .left= link_to @unit.title, edit_unit_path(@unit)
          %li
            .item
              %p=@unit.description